[Desktop Entry]
Type=Application
Name=Gearboy
Comment="Game Boy, Gameboy Color emulator"
Exec=gearboy
Icon=icon
StartupWMClass=gearboy
Categories=Game;Emulator
Terminal=false
